<div class="row float-left">
  <div class="col-12 p-5">
    <h3>Please check your details:</h3>
    <table class="table">
      <tbody>
        <tr>
          <th>Full Name</th>
          <td><%= @profile.name%></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @profile.user.email%></td>
        </tr>
        <tr>
          <th>Contact</th>
          <td><%= @profile.phone%></td>
        </tr>
        <tr>
          <th>Address</th>
          <td><%= @profile.address%></td>
        </tr>
        <tr>
          <th>City</th>
          <td><%= @profile.city%></td>
        </tr>
        <tr>
          <th>Province</th>
          <td><%= @profile.tax.province%></td>
        </tr>
        <tr>
          <th>Zip</th>
          <td><%= @profile.zip%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row float-right">
<div class="col-3 p-5">
  <div class="display-4">Invoice</div>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Qty</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% subtotal = 0 %>
        <%session[:cart].each do |item|%>
          <% @product = Product.find(item["id"])%>
          <tr>
            <td><%= link_to @product.name, @product%></td>
            <td><%=item["qty"]%></td>
            <td><%=item["price"]%></td>
            <% subtotal += item["price"].to_d%>
          </tr>
        <%end%>
        <tr>
          <th></th>
          <th scope="row">Subtotal: </th>
          <td>$<%= subtotal%></td>
        </tr>
        <tr>
          <th></th>
          <th scope="row">Taxes: </th>
          <td>$<%= taxes = (@taxes*subtotal).round(2)  %></td>
        </tr>
        <tr>
          <th></th>
          <th scope="row">Total: </th>
          <td>$<%= session[:total_price] = taxes+subtotal %></td>
        </tr>
      </tbody>
    </table>
    <%= render template: "charges/new" , :locals => { amount: @total_amount} %>
  </div>
</div>
</div>