<h4 class="display-4"><%= @product.name%> <small class="text-muted"> in <%= link_to @product.category.name, @product.category%></small></h4>
<div class="row justify-content-around">
  <div class="col-6 mt-4">
    <%= image_tag @product.image.url%>
  </div>
  <div class="col-6 mt-4">
    <%= @product.description%><br>
    $ <%= @product.price%><br>

    <form></form>

    <%= form_tag(cart_add_to_cart_path, method: "get", class:"form-check form-check-inline float-right mt-5" ) do %>
      <%= label_tag("quantity"," Quantity ") %>
      <%= number_field_tag("quantity", 1, class:"form-control m-2", size:2) %>
      <%= hidden_field_tag("id", @product.id)%>
      <%= hidden_field_tag("price", @product.price)%>
      <%= submit_tag("Add To Cart", class:"btn") %>
    <% end %>

  </div>
</div>
