<!DOCTYPE html>
<html>
  <head>
    <title>PerfectFurnishers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'shared/navbar'%>

    <div class='container clearfix'>
      <%= render template: "categories/index", collection: @categories%>

      <ol class="breadcrumb">
        <%= render_breadcrumbs %>
      </ol>

      <% if ((!params[:permalink]) && !(params[:controller] == "products" && params[:action] == "show") && params[:controller] != "cart")%>
        <div class="alert alert-dark w-25 p-3 float-left mt-4">
          <form action="<%= products_path %>"type="Post">
            <div class="display-4">Sort</div><br>
            <div class="mr-10">
              <%= render template: 'status_types/index', collection: @status_types%>
            </div>
            <button type="submit" class="btn btn-primary float-right mt-5">Sort</button>
            <% if (params[:controller] == "categories")%>
              <input type="hidden" name="category" value="<%=params[:id]%>">
            <% end %>
          <form>
          <form action="<%= products_path %>" type="Post">
            <button type="submit" class="btn btn-primary float-left mt-5">All Products</button>
          <form>
        </div>
      <%end%>
      <%= yield %>
    </div>

    <footer class="py-5 bg-dark">
      <div class="container-fluid">
        <p class="m-0 text-center text-white">Copyright &copy; Perfect Furnishers 2018</p>
      </div>
    </footer>
  </body>
</html>
