<!DOCTYPE html>
<html>
  <head>
    <title>PerfectFurnishers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <h1>Perfect Furnishers</h1>
      <%= render partial: 'shared/navbar'%>
      <% @categories = Category.all() %>
      <%= render template: "categories/index", collection: @categories%>
      <%= yield %>
    </div>
  </body>
</html>
